.EquipmentRow {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    margin-bottom: 5px;
}

.columnFirst {
    width: 100%;
    position: absolute;
    display: flex;
    left: -160px;
}


.dayColumn {
    display: flex;
}

.shiftPlanFactCell {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.plan,
.fact {
    padding: 2px;
}

.wrapperCell {
    gap: 5px;
    display: flex;
}