.WeekHeaderRow {
    display: flex;
}

.dateColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dateHeader {
    font-weight: bold;
}

.shiftCell {
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.cellWrapper {
    display: flex;
    flex-direction: row;
}