.WeekHeaderRow {
    gap: 10px;
    display: flex;
    margin-bottom: 5px;
}

.dateColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dateHeader {
    font-weight: bold;
}

.shiftCell {
    border-radius: 10px;
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.cellWrapper {
    gap: 5px;
    display: flex;
    flex-direction: row;
}